<!DOCTYPE html>
<html lang="{{lang}}">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Social Cards
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="product" />
  <meta property="og:url" content="{{domain}}" />
  <meta property="og:image" content="{{{image_social}}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:site_name" content="{{website_name}}" />
  <meta property="fb:app_id" content="{{facebook_app_id}}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{twitter_id}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:creator" content="{{twitter_id}}">
  <meta name="twitter:url" content="{{url}}" />
  <meta name="twitter:domain" content="{{domain}}" />
  <meta name="twitter:image:src" content="{{{image_social}}}">
  <meta name="twitter:description" content="{{description}}">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main class="landing {{class_wrapper}}">{{> content}}</main>


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>document.getElementById('copyright-year').innerHTML = new Date().getFullYear();</script>
  <script src="app.bundle.js"></script>

  {{{page_scripts}}}

  {{> trackers}}

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
