{{> menu}}
<div class="block">
  <h1>Skills</h1>

  <h2>Create. Learn. Automate.</h2>

  <p>
    Engineer. Entrepreneur. Designer. Writer.
    Whatever it takes to start a business.
  </p>

  <p>
    Using my learning aptitudes to leverage any skill.
  </p>

  <h3>
    1% better than yesterday = 2x better in 70 days.
  </h3>

  {{> social}}
</div>
