<div class="block">
  <h1>Skills</h1>

  <h2>Create. Learn. Automate.</h2>

  <p>
    Engineer. Entrepreneur. Designer. Writer.
    Whatever it takes to start a business.
  </p>

  {{> social}}
</div>
