{{> menu}}
<div class="block">
  <h1>And now ?</h1>

  <h2>What I'm doing to apply my vision</h2>

  <ul>
    <li>Helping out <a href="https://elyios.com">Elyios</a> growing at Nantes</li>
    <li>Freelancing at Paris</li>
    <li>Paused learning German, learning Spanish now</li>
  </ul>

  <p>
    Last update: March 27th 2018
  </p>

  {{> social}}
</div>
