{{> menu}}
<div class="block">
  <h1>And now ?</h1>

  <h2>What I'm doing to apply my vision</h2>

  <ul>
    <li>Helping out <a href="https://elyios.com">Elyios</a> growing at Nantes</li>
    <li>Doing some freelance developper missions</li>
    <li>Learning German, considering traveling there a few months</li>
  </ul>

  <p>
    Last update: January 19th 2018
  </p>

  {{> social}}
</div>
