{{> menu}}
<div class="block">
  <h1>And now ?</h1>

  <h2>What I'm doing to apply my vision</h2>

  <ul>
    <li>Finishing the new landing pages of <a href="https://elyios.com">Elyios</a></li>
    <li>Doing some freelance developper missions</li>
    <li>Learning German, considering traveling there a few months</li>
    <li>Traveling and seing friends (currently wandering in France)</li>
  </ul>

  <p>
    Last update: January 5th 2018
  </p>

  {{> social}}
</div>
