{{> menu}}
<div class="block">
  <h1>Vision</h1>

  <h2>Simplifying lives</h2>

  <p>
    Mine first, then the other's. I want to declutter the world.
  </p>

  <ul>
    <li>
      <h3>Reduce the impact on climate</h3>
      Stop compulsive consumerism. Appreciate what you have. You don't need more. I live & work only from the items inside my backpack.
    </li>

    <li>
      <h3>Improve global well being</h3>
      Stop your attention from being hijacked. Be more present with your loved ones. Please read the <a href="https://medium.com/@ngoeke/if-technology-doesnt-make-your-life-better-it-makes-it-worse-393bd7d60661" target="_blank">Anti-Tech series by Niklas Goeke</a> <i class="fa fa-heart"></i>
    </li>

    <li>
      <h3>Share experiences</h3>
      I want to experiment life as fully as possible. And share what I learnt.
      <br/>I need feedback from people who experienced stuff as well.
    </li>
  </ul>

  {{> social}}
</div>
