<div class="block">
  <h1>Vision</h1>

  <h2>Simplifying lives</h2>

  <p>
    Mine first, then the other's. I want to declutter the world.
  </p>

  <ul>
    <li>
      <h3>Reduce the impact on climate</h3>
      Stop compulsive consumerism. Appreciate what you have.
    </li>

    <li>
      <h3>Improve global well being</h3>
      Stop your attention from being hijacked. Be more present with your loved ones.
    </li>

    <li>
      <h3>Educate the masses</h3>
      Stop bad habits. Invest your energy into learning, educating and creating.
    </li>
  </ul>

  {{> social}}
</div>
