<div class="block">
  {{> avatar }}

  <h1>Damien Bry</h1>

  <h2>Minimalist</h2>

  <h3>
    1% better than yesterday = 2x better in 70 days.
  </h3>

  <a href="/why">
    <button class="button-primary">
      Why
    </button>
  </a>

  <a href="/how">
    <button class="button-primary">
      How
    </button>
  </a>

  <a href="/what">
    <button class="button-primary">
      What
    </button>
  </a>

  {{> social}}
</div>
