$primary: #0A64A4;
$secondary: #FF9000;
$tertiary: #580EAD;

.gradient:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: linear-gradient(45deg, transparentize($primary, 0.8), transparentize($tertiary, 0.8));
}
